,四川省工程技术高级职务成都评审委员会
,电力工程
,市政排水
,环境艺术设计
,化工
,森林水土保持
,地下工程与隧道工程
,环境保护
,国土资源
,测绘
,水利工程
,调查规划
,制浆造纸
,测试技术
,机械设计与制造
,建筑设备机械
,建筑工程管理
,轻工产品开发设计与制造
,冶金工程
,岩土工程
,标准化研究
,传播设计
,电子材料
,农业机械（化）
,农业水土资源利用与整治
,河流泥沙及治河工程
,城市排污
,建材
,水文地质
,纺织
,设计管理
,环境设计
,机电工程
,新能源材料科学与工程
,矿物筛选
,公路地质工程
,机电一体化
,生物工程
,汽车制造
,水资源和水利管理
,航运与交通信息工程
,木材加工
,电子信息技术
,农业电气化与自动化
,经济林特产品
,制冷设备与低温技术
,水利水电工程建筑
,采矿工程
,安全工程
,电气自动化
,暖通
,热能动力
,园林绿化
,特种设备检验
,矿产勘察
,新能源物理科学与工程
,建筑经济管理
,森林采运
,电气工程
,电力技术工程
,水利水电工程测量
,公路与城市道路工程
,机械加工
,建筑设计
,地质勘测
,环境监测
,森林勘察
,燃气
,园林暴观
,水、工、环
,生化工程
,道路与桥梁
,建筑安全管理
,农村能源工程
,环境艺术
,建筑智能化系统
,机械设计
,工民建
,纤维及制品质量检验
,野生动物保护
,矿山通风工程
,风景园林
,建筑结构
,港口与航道
,计量检测
,水上交通工程
,林产化工
,工业自动化
,地理信息系统
,市政工程
,产品设计
,船舶运用工程
,水利水电动力工程
,建筑电气
,森林保护
,轨道交通
,广播电视工程
,制药工程
,市政道路
,染整
,城市燃气
,新能源环境科学与工程
,装饰装修
,农产品储运与加工
,水利水电工程金属结构
,工程造价
,热动力机械与装置
,家具工业
,轧钢
,建筑薄墙
,土石方
,科技管理
,古建筑园林
,建筑施工
,质量审核
,产（商）品质量检验
,电子仪器与测量
,建筑材料
,汽车运用工程
,矿山火工
,化纤
,电气安装
,森林培育
,科技情报
,森林经营
,光电信息科学与工程
,管道及通风安装工程
,市政规划
,园林建筑
,公路工程
,汽车工程
,城市规划
,煤炭（矿山）
,农业环境工程
,给排水
,水利水电
,水产养殖
,电子技术
,食品与酸造
,环境工程
,总图设计
,矿山机电
,新能源材料与器件
,有色金属矿治工程
,危险化学品质量检验
,城市照明
,皮革毛坯扩其制品
,水利工程管理
,农村小水电
,水土保持
,皮革及制品质量检验
,石油化工与精细化工
,农田水利
,成都市工程技术建筑专业中（初）级职称资格专家评审委员会（市政、光华）
,管道及通风安装工程
,城市规划
,土石方
,建筑幕墙
,建筑智能化系统
,地理信息系统
,建筑电气
,暖通
,总图设计
,给排水
,建筑材料
,建筑设计
,安全工程
,建筑经济管理
,气象工程
,国土资源
,建筑安全管理
,岩土工程
,装饰装修
,水、工、环
,建筑工程管理
,机电工程
,工民建
,建筑施工
,地质勘测
,白蚁防治
,测绘
,机电安装工程
,成都市工程技术市政工程专业中（初）级职称评审专家委员会（市政、光华）
,市政工程
,城市照明
,市政排水
,岩土工程
,公路与城市道路工程
,城市排污
,市政园林绿化
,市政道路与桥梁
,市政规划
,市政道路
,成都市工程技术机械（汽车）专业职称资格专家评审委员会
,制冷设备与低温技术
,机械加工
,热动力机械与装置
,机械设计与制造
,机械设计
,建筑设备机械
,设备管理与维修
,成都市工程技术水利水产专业职称资格专家评审委员会（市政、光华）
,农村小水电
,水利工程
,水利水电工程测量
,水利水电工程金属结构
,农业水利技术
,水资源和水利管理
,水土保持
,水文地质
,农田水利
,水利水电
,河流泥沙及治河工程
,水利工程管理
,水利水电工程建筑
,水利水电动力工程
,成都市工程技术冶金专业职称资格专家评审委员会
,冶金工程
,有色金属矿治工程
,成都市工程技术煤炭专业职称资格专家评审委员会
,矿山机电
,煤炭（矿山）
,矿山通风工程
,矿物筛选
,矿山火工
,矿产勘察
,成都市工程技术建材专业职称资格专家评审委员会（光华）
,建材
,成都市工程技术轻工业专业职称资格专家评审委员会（市政、光华）
,制浆造纸
,家具工业
,皮革毛还扩其制品
,轻工产品开发设计与制造
,成都市工程技术纺织专业职称资格专家评审委员会（市政、光华）
,化纤
,染整
,纺织
,成都市工程技术燃气专业职称资格专家评审委员会（可走光华）
,城市燃气
,燃气
,成都市工艺美术系列职称资格专家评审委员会（可走光华）
,传播设计
,产品设计
,环境设计
,设计管理
,成都市工程技术系列中级职称市科学技术协会专家评审委员会
,水利水电
,电气设备
,水土保持
,氨素材料与化学肥料
,道路与桥梁工程
,生化工程
,机械
,电气安装
,园林绿化
,机电一体化
,航运与交通信息工程
,燃气
,电气工程
,电气自动化
,生物工程
,公路地质工程
,环境工程
,制药工程
,化工
,水资源和水利管理
,电子技术
,环境监测
,水文地质
,公路与城市道路工程
,风晨园林
,环境保护
,化学工程与橡胶制品
,电力技术工程
,农田水利
,水利工程
,石油化工与精细化工
,园林
